#ytplayer, video, iframe  {
  width: 100vw;
  height: calc(100vw/1.77777778);
}

#textArea {
  border: solid 1px grey;
  width: 400px;
}

.controls {
  height: 4em;
}


h1 {
  font-weight: 400;
}

button {
  padding: 8px 16px;
  background: crimson;
  color: white;
  border: none;
  font-size: inherit;
}

div#debug span {
  display: inline-block;
  margin: .2em;
}